<ul class="list-group">
  <!-- Menu de la forma tradicional -->
  <!-- @for (item of menuItems; track $index) {
    <li
      class="list-group-item"
      [routerLink]="[item.route]"
      routerLinkActive="active">
      {{item.title}}
    </li>
  } -->


  <!-- Menu con señales donde invocamos el menuItems como función -->
  @for (item of menuItems(); track $index) {
    <li
      class="list-group-item"
      [routerLink]="[item.route]"
      routerLinkActive="active">
      {{item.title}}
    </li>
  }


</ul>
<!-- {{ menuItems() }} -->
